<script src="/bower_components/marked/lib/marked.js"></script>

<div id="blogsContainer">
    <p class="time-line">
        <time datetime="{{createDate}}">{{createDate}}</time>创建
        <time datetime="{{updateDate}}">{{updateDate}}</time>更新
    </p>
    <div class="blog-container">
        <article>{{{content}}}</article>
    </div>
</div>
